* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

#footer {
  font-family: "Segoe Print", cursive;
  size: 2cqw;
  margin: 2%;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(svg/background.svg);
  background-size: cover;
  display: none;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(svg/gameover.svg);
  background-size: cover;
  display: none;
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(svg/victory.svg);
  background-size: cover;
  display: none;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(svg/background.svg);
  background-size: cover;
}

#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#score_board {
  position: absolute;
  top: 4%;
  right: 5%;
  aspect-ratio: 101/246;
  width: 3%;
  background-image: url(svg/poopAir1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#points {
  font-family: "Segoe Print", cursive;
  size: 2.5cqw;
  margin-left: -100%;
  margin-top: 40%;
}

#life_board {
  position: absolute;
  top: 5%;
  left: 5%;
  aspect-ratio: 416/462;
  width: 5%;
  background-image: url(svg/feather3.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#lives {
  font-family: "Segoe Print", cursive;
  size: 2.5cqw;
  margin-left: 120%;
  margin-top: 10%;
}
#poop_container1 {
  position: absolute;
  top: -8%;
  left: 20%;
  aspect-ratio: 101/246;
  width: 5%;
}

#poop_sprite1 {
  width: 100%;
  height: 100%;
  background-image: url(svg/poopAir1.svg);
  background-size: cover;
}

#seed_container1 {
  position: absolute;
  top: -8%;
  left: 60%;
  aspect-ratio: 100/180;
  width: 4%;
}

#seed_sprite1 {
  width: 100%;
  height: 100%;
  background-image: url(svg/seed1.svg);
  background-size: cover;
}
.fall {
  animation-name: fall_kf;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes fall_kf {
  100% {
    translate: 0 850%;
  }
}

.disappear_good {
  animation-name: disappear_good_kf;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes disappear_good_kf {
  100% {
    scale: 0;
  }
}

.disappear_bad {
  animation-name: disappear_bad_kf;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes disappear_bad_kf {
  20% {
    scale: 0.8;
  }
  100% {
    scale: 1.2;
  }
}

.freeze {
  animation-play-state: paused;
}

.pos1 {
  left: 10%;
}

.pos2 {
  left: 20%;
}

.pos3 {
  left: 30%;
}

.pos4 {
  left: 40%;
}

.pos5 {
  left: 50%;
}

.pos6 {
  left: 60%;
}

.pos7 {
  left: 70%;
}

.pos8 {
  left: 80%;
}

.pos9 {
  left: 90%;
}
